.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  padding: 2rem;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 64px;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0;
  }

  p {
    margin-top: 0.5rem;
  }
}

ion-item {
  --padding-start: 1rem;
  --padding-end: 1rem;

  h2 {
    font-weight: 600;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 0.85rem;
  }
}
